<!-- ============================================================== -->
<!-- FOOTER - ALL PAGE - ALL -->
<!-- ============================================================== -->
<div class="footer-wrap pd-20 mb-20 card-box">
    Creavitation - Invitation Template App By <a href="https://github.com/dropways" target="_blank">蓮.明煌(Ren Akira)</a>
</div>
<!-- ============================================================== -->
<!-- END FOOTER -->
<!-- ============================================================== -->