<!-- ============================================================== -->
<!-- PAGE CONTENT - TEMPLATE MANAGEMENT - ADMIN -->
<!-- ============================================================== -->
{% extends 'layouts/dash_layout.html' %} {% block content %}

    <!-- ============================================================== -->
    <!-- PRELOADER - ALL PAGE - ALL -->
    <!-- ============================================================== -->
    {% include 'components/preloader.html' %}
    <!-- ============================================================== -->
    <!-- END PRELOADER -->
    <!-- ============================================================== -->
	

	<!-- ============================================================== -->
	<!-- HEADER - ALL PAGE - ALL -->
	<!-- ============================================================== -->
	{% include 'components/dash_header.html' %}
	<!-- ============================================================== -->
	<!-- END HEADER -->
	<!-- ============================================================== -->
	

	<!-- ============================================================== -->
	<!-- NAVIGATION SIDEBAR - ALL PAGE - ALL -->
	<!-- ============================================================== -->
	{% include 'components/dash_sidebar.html' %}
	<!-- ============================================================== -->
	<!-- END NAVIGATION SIDEBAR -->
	<!-- ============================================================== -->
	

	<!-- ============================================================== -->
	<!-- MAIN CONTENT - TEMPLATE MANAGEMENT - ADMIN -->
	<!-- ============================================================== -->
	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
            <!-- ============================================================== -->
			<!-- Content Section -->
			<div class="min-height-200px">
				<!-- ============================================================== -->
				<!-- Header COntent Section -->
				<div class="page-header">
					<div class="row">
						<!-- ============================================================== -->
						<!-- Title & Breadcrumb Section -->
						<div class="col-md-6 col-sm-12">
							<!-- ============================================================== -->
							<!-- Title Section -->
							<div class="title">
								<h4>Request User</h4>
							</div>
							<!-- End Title -->
							<!-- ============================================================== -->

							<!-- ============================================================== -->
							<!-- Breadcrumb Section -->
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{{ url_for('dashboard.index') }}">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Detail</li>
								</ol>
							</nav>
							<!-- End Breadcrumb -->
							<!-- ============================================================== -->
						</div>
						<!-- End Title & Breadcrumb -->
						<!-- ============================================================== -->
						
							
						<!-- ============================================================== -->
						<!-- Management Add Button Section -->
						<div class="col-md-6 col-sm-10 text-right">
							{% if data['request']['status'] == 3 %}
							<a href="{{ url_for('management.template.add') }}" class="btn btn-primary" type="button" role="button">
								<i class="fa fa-plus pr-2"></i>  Upload
							</a>
							{% endif %}
						</div>
						<!-- End Management Add Button -->
						<!-- ============================================================== -->
					</div>
				</div>
				<!-- End Header COntent -->
				<!-- ============================================================== -->
                 
				<!-- ============================================================== -->
				<!-- Alert Section -->
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% include "components/alert.html" %}
				{% endwith %}
				<!-- End Alert -->
				<!-- ============================================================== -->

				<!-- ============================================================== -->
				<!-- Request Template Section -->
				<div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
				    <!-- title -->
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">Informasi Permintaan Desain</h4>
						</div>
					</div>
					<div class="row align-items-center">
						<div class="col-md-4">
							<img src="{{ data['request']['design_file'] }}" alt="design_file" class="rounded-lg">
						</div>
						<div class="col-md-8 col-sm-12">
							<div class="form-group">
								<label>Kategori</label>
								<p class="border border-secondary rounded-lg" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
									{{ data['request']['category'] }}
								</p>
							</div>
							<div class="form-group">
								<label>Batas Waktu</label>
								<p class="border border-secondary rounded-lg" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
									{{ data['request']['deadline']['day'] }}, {{ data['request']['deadline']['date'] }}
								</p>
							</div>
							<div class="form-group">
								<label>Tipe</label>
								<p class="border border-secondary rounded-lg" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
									{{ data['request']['type_txt'] }}
								</p>
							</div>
							<div class="form-group">
								<label>Deskripsi</label>
								<p class="border border-secondary rounded-lg" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
									{{ data['request']['description'] }}
								</p>
							</div>
							<div class="form-group">
								<label>Status</label>
								<p class="border border-secondary rounded-lg" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
									{{ data['request']['status_txt'] }}
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End Request Template -->
				<!-- ============================================================== -->
				
				
				<!-- ============================================================== -->
				<!-- Status Confirmation Section -->
				<div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
					<!-- title -->
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">Form Konfirmasi</h4>
						</div>
					</div>
					<form action="{{ url_for('management.reqtemp.update_reqstatus') }}" method="post">
						<div class="form-group row">
							<input type="hidden" name="req_id" id="req_id" value="{{ data['request']['req_id'] }}">
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Konfirmasi</label>
							<div class="col-sm-12 col-md-10">
								<select class="custom-select col-12" name="status" id="status">
									<option selected>Choose...</option>
									<option value="0">Menunggu</option>
									<option value="1">Dalam Proses</option>
									<option value="2">Ditolak</option>
									<option value="3">Selesai</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-sm-12 text-right">
								<button type="submit" class="btn btn-outline-primary align-items-end">Save Changes</button>
							</div>
						</div>
					</form>
				</div>
				<!-- End Status Confirmation -->
				<!-- ============================================================== -->
			</div>
			<!-- End Content -->
			<!-- ============================================================== -->

			<!-- ============================================================== -->
			<!-- Footer Section -->
			{% include 'components/dash_footer.html' %}
			<!-- End Footer -->
			<!-- ============================================================== -->
		</div>
	</div>
    <!-- ============================================================== -->
	<!-- END MAIN CONTENT -->
	<!-- ============================================================== -->

{% endblock %}
<!-- ============================================================== -->
<!-- END PAGE CONTENT -->
<!-- ============================================================== -->