<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ data['invitation']['invitation_title'] }}</title>
		<link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='assets/images/ic_tab.png') }}">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<!-- font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Sacramento&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
		<!-- Simply Countdown -->
		<!-- <link rel="stylesheet" href="countdown/simplyCountdown.theme.default.css"/> -->
		<!-- <script src="countdown/simplyCountdown.min.js"></script> -->
		<script src="{{ data['invitation']['template_js'] }}"></script>
		<!-- icons -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<!-- css -->
		<link rel="stylesheet" href="{{ data['invitation']['template_css'] }}">
	</head>
	<body>
		<!-- Hero -->
		<section id="hero" class="hero w-100 h-100 p-3 mx-auto text-center d-flex justify-content-center align-items-center text-white" style="background-image: url('{{background1_url}}'); background-size: cover; background-position: center;">
			<main>
				<h4>Dear friend, You are invited to celebrate</h4>
				<h1>{{ data['invitation']['personal_data']['callname'] }}'s Day</h1>
				<!-- <p>Which is held in:</p> -->
					<!-- <div class="simply-countdown"></div> -->
				<a href="#home" class="btn btn-lg mt-4" onclick="enableScroll()"><i class="bi bi-envelope-paper-heart"></i> Invitation</a>
			</main>
		</section>
		<!-- End Hero -->

		<!-- Navbar -->
		<nav class="navbar navbar-expand-md bg-transparent sticky-top mynav">
			<div class="container">
				<a class="navbar-brand" href="#">{{ data['invitation']['personal_data']['callname'] }}'s Day</a>
				<button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
					<div class="offcanvas-header">
						<h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{ data['invitation']['personal_data']['callname'] }}'s Day</h5>
						<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body">
						<div class="navbar-nav ms-auto">
							<a class="nav-link" href="#home">Home</a>
							<a class="nav-link" href="#info">Info</a>
							<!-- <a class="nav-link" href="#story">Story</a>
							<a class="nav-link" href="#gallery">Gallery</a> -->
							<a class="nav-link" href="#rsvp">RSVP</a>
							<!-- <a class="nav-link" href="#gifts">Gifts</a> -->
						 </div>
					</div>
				</div>
			</div>
		</nav>
		<!-- End Navbar -->

		<!-- Home -->
		<section id="home" class="home">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-8 text-center">
						<h2>My Birthday Party</h2>
						<!-- <h3>Diselenggarakan pada 18 Oktober 2024 di Tegal, Jawa Tengah</h3> -->
						<!-- <p>Kepada kakak-kakak, adik-adik, serta teman-teman. <br> Datang dan bergabunglah diacara pesta ulang tahun dari:</p> -->
						<h3>Join us for a Special Birthday Party <br> Celebration of</h3>
					</div>
				</div>
				
				<div class="row couple justify-content-center">
					<!-- Man -->
					<div class="col-lg-6 text-center">
						<div class="d-flex flex-column align-items-center">
							<div class="col-4">
								<img src="{{ data['invitation']['personal_data']['myphoto'] }}" alt="Pria" class="img-responsive rounded-circle" width="200px" height="200px">
							</div>
							<div class="col-4 mt-4 text-center">
								<h3>{{ data['invitation']['personal_data']['fullname'] }}</h3>
								<h5>( {{ data['invitation']['personal_data']['callname'] }} )</h5>
								<h6>
									{% if data['invitation']['personal_data']['birthday'] == "1" %} {{ data['invitation']['personal_data']['birthday'] }}st Birthday
									{% elif data['invitation']['personal_data']['birthday'] == "2" %} {{ data['invitation']['personal_data']['birthday'] }}nd Birthday
									{% else %} {{ data['invitation']['personal_data']['birthday'] }}th Birthday {% endif %}
								</h6>
							</div>
						</div>
					</div>
					<!-- End Man -->
				</div>
			</div>
		</section>
		<!-- End Home -->

		<!-- Info -->
		<section id="info" class="info">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-8 col-10 text-center">
						<h2>When & Where</h2>
						<p class="alamat">Location: {{ data['invitation']['detail_info']['location'] }}</p>
						<a href="{{ data['invitation']['detail_info']['maps'] }}" target="_blank" class="btn btn-light btn-sm my-3"><i class="bi bi-geo-alt-fill"></i> Open Maps</a>
						<!-- <p class="description">Diharapkan untuk tidak salah alamat dan tanggal. Manakala tiba di tujuan namun tidak ada tanda-tanda sedang dilangsungkan pernikahan, boleh jadi Anda salah jadwal atau salah tempat.</p> -->
					</div>
				</div>

				<div class="row justify-content-center mt-4">
					<div class="col-md-5 col-10">
						<div class="card text-center text-bg-light mb-5">
							<div class="card-header">Celebrated On</div>
							<div class="card-body">
								<div class="row justify-content-center">
									<div class="col-md-6">
										<i class="bi bi-alarm d-block"></i>
										<span>{{ data['invitation']['detail_info']['start']['time'] }} - {{ data['invitation']['detail_info']['end']['time'] }}</span>
									</div>
									<div class="col-md-6">
										<i class="bi bi-calendar3 d-block"></i>
										<span>{{ data['invitation']['detail_info']['start']['day'] }}, {{ data['invitation']['detail_info']['start']['dates'] }} {{ data['invitation']['detail_info']['start']['fullmonth'] }} {{ data['invitation']['detail_info']['start']['year']  }}</span>
									</div>
								</div>
							</div>
							<!-- <div class="card-footer">
								Saat acara akad diharapkan untuk kondusif menjaga kekhidmatan dan kekhusyuan seluruh prosesi.
							</div> -->
						</div>
					</div>

					<div class="col-md-5 col-10">
						<div class="card text-center text-bg-light">
							<div class="card-header">Dresscode</div>
							<div class="card-body">
								<div class="row justify-content-center">
									<div class="col-md-6">
										<i class="bi bi-gender-ambiguous d-block"></i>
										<span>{{ data['invitation']['detail_info']['dresscode'] }}</span>
									</div>
								</div>
							</div>
							<!-- <div class="card-footer">
								Saat acara akad diharapkan untuk kondusif menjaga kekhidmatan dan kekhusyuan seluruh prosesi.
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Info -->

		<!-- RSVP -->
		 <section id="rsvp" class="rsvp">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-8 col-10 text-center">
						<h2>Will you attending?</h2>
						<p>Please leave a message</p>
					</div>
				</div>

				<form class="row g-3 align-items-center justify-content-center" action="{{ url_for('greeting.add_proccess') }}" method="post">
					<!-- <input type="hidden" class="form-control" id="tem_id" name="tem_id" value="{{ data['invitation']['template_id'] }}">
					<input type="hidden" class="form-control" id="inv_id" name="inv_id" value="{{ data['invitation']['invitation_id'] }}"> -->
					<input type="hidden" class="form-control" id="inv_code" name="inv_code" value="{{ data['invitation']['invitation_code'] }}">
					<input type="hidden" class="form-control" id="inv_link" name="inv_link" value="{{ data['invitation']['invitation_link'] }}">
					<div class="col-lg-auto">
						<div class="row">
							<div class="col-6">
								<div class="mb-4">
									<label for="name" class="form-label">Name*</label>
									<input type="text" class="form-control" id="name" name="name">
								</div>
							</div>
							<div class="col-6">
								<div class="mb-4">
									<label for="status" class="form-label">Confirm*</label>
									<select name="status" id="status" class="form-select">
										<option value="none" selected>Choose one</option>
										<option value="1">Present</option>
										<option value="0">Absent</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="mb-3">
								<label for="greeting" class="form-label">Greetings*</label>
								<textarea type="text" class="form-control" id="greeting" name="greeting"></textarea>
								<small style="color:rgba(255, 255, 255, 0.5); font-size: 12px;">*Type the (-) sign if you want to clear the message.</small>
							</div>
						 </div>
						<div class="col-12">
							<button type="submit" class="btn btn-primary">Send</button>
						</div>
					</div>
				</form>
			</div>
		 </section>
		<!-- End RSVP -->

		<!-- Gifts -->
		<section id="gifts" class="gifts" style="background-image: url('{{background2_url}}');">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-8 col-10 text-center">
						<!-- <span>ungakapan tanda kasih</span> -->
						<h2>Thank You</h2>
						<p>I am excepting you</p>
					</div>
				</div>

				<div class="row justify-content-center text-center">
					<div class="col-md-6">
						<ul class="list-group">
							<li class="list-group-item">
								<img src="{{ data['invitation']['personal_data']['myphoto'] }}" alt="Pria" class="img-responsive rounded-circle" width="200px" height="200px">
							</li>
							<li class="list-group-item">
								<div class="fw-bold mb-2">Signed</div>
								<p>{{ data['invitation']['personal_data']['fullname'] }}</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- End Gifts -->

		<!-- Footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<small class="block">&copy;2024 Creavitation Web App. All Rights Reserved.</small>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer -->


		<!-- CSS -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		
		<!-- lightbox -->
		<script src="https://cdn.jsdelivr.net/npm/bs5-lightbox@1.8.3/dist/index.bundle.min.js"></script>
		
		<!-- countdown -->
		<script>
			simplyCountdown('.simply-countdown', {
				year: 2024, // required
				month: 10, // required
				day: 18, // required
				hours: 0, // Default is 0 [0-23] integer
				minutes: 0, // Default is 0 [0-59] integer
				seconds: 0, // Default is 0 [0-59] integer
				words: { //words displayed into the countdown
					// days: { singular: 'hari', plural: 'days' },
					// hours: { singular: 'jam', plural: 'hours' },
					// minutes: { singular: 'menit', plural: 'minutes' },
					// seconds: { singular: 'detik', plural: 'seconds' },
					days: { singular: 'day', plural: 'days' },
					hours: { singular: 'hour', plural: 'hours' },
					minutes: { singular: 'minute', plural: 'minutes' },
					seconds: { singular: 'second', plural: 'seconds' }
				},
				plural: true, //use plurals
			})
		</script>
		
		<!-- offcanvas navigation -->
		<script>
			const stickyTop = document.querySelector('.sticky-top');
			const offCanvas = document.querySelector('.offcanvas');

			offCanvas.addEventListener('show.bs.offcanvas', function () {
				stickyTop.style.overflow = 'visible';
			})
			
			offCanvas.addEventListener('hidden.bs.offcanvas', function () {
				stickyTop.style.overflow = 'hidden';
			})
		</script>

		<!-- stuck scroll -->
		<script>
			// set off scrolling bootstrap
			const rootElement = document.querySelector(":root");
			
			// disable scroll function
			function disableScroll() {
				const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
				const scrollLeft = window.pageXOffset || document.documentElement.scrollLeft;
				window.onscroll = function () {
					window.scrollTo(scrollTop, scrollLeft);
				}

				// set off scrolling bootstrap
				rootElement.style.scrollBehavior = 'auto';
			}

			// enable scroll function
			function enableScroll() {
				window.onscroll = function () {}

				// set on scrolling bootstrap
				rootElement.style.scrollBehavior = 'smooth';

				localStorage.setItem('opened', 'true');
			}

			// run
			if(!localStorage.getItem('opened')) {
				disableScroll();
			}
		</script>
	</body>
</html>