{% extends 'layouts/dash_layout.html' %} {% block content %}
	{% include 'components/dash_header.html' %}

	{% include 'components/dash_sidebar.html' %}

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="title">
								<h4>Template Undangan</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active" aria-current="page">Custom Undangan</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>

				<div class="row clearfix">
					<div class="col-lg-12 col-md-12 col-sm-12 mb-30">
						<div class="pd-20 card-box">
							<h5 class="h4 text-blue mb-20">Tab Kategori</h5>
							<div class="tab">
								<ul class="nav nav-tabs customtab" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#semuaKategori" role="tab" aria-selected="true">Semua</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#kategoriPernikahan" role="tab" aria-selected="false">Pernikahan</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#kategoriUltah" role="tab" aria-selected="false">Ulang Tahun</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#kategoriWisuda" role="tab" aria-selected="false">Kelulusan</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#kategoriKhitanan" role="tab" aria-selected="false">Khitanan</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#kategoriSyukuran" role="tab" aria-selected="false">Syukuran</a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane fade show active" id="semuaKategori" role="tabpanel">
										<div class="pd-20">
											<div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                                                <div class="da-card">
                                                    <div class="da-card-photo">
                                                        <img src="vendors/images/photo1.jpg" alt="">
                                                        <div class="da-overlay">
                                                            <div class="da-social">
                                                                <ul class="clearfix">
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="da-card-content">
                                                        <h5 class="h5 mb-10">Weeding Gift</h5>
                                                        <p class="mb-0">Pernikahan</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                                                <div class="da-card">
                                                    <div class="da-card-photo">
                                                        <img src="vendors/images/photo1.jpg" alt="">
                                                        <div class="da-overlay">
                                                            <div class="da-social">
                                                                <ul class="clearfix">
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="da-card-content">
                                                        <h5 class="h5 mb-10">Java Black</h5>
                                                        <p class="mb-0">Pernikahan</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                                                <div class="da-card">
                                                    <div class="da-card-photo">
                                                        <img src="vendors/images/photo1.jpg" alt="">
                                                        <div class="da-overlay">
                                                            <div class="da-social">
                                                                <ul class="clearfix">
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="da-card-content">
                                                        <h5 class="h5 mb-10">Green Templates</h5>
                                                        <p class="mb-0">Syukuran</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                                                <div class="da-card">
                                                    <div class="da-card-photo">
                                                        <img src="vendors/images/photo1.jpg" alt="">
                                                        <div class="da-overlay">
                                                            <div class="da-social">
                                                                <ul class="clearfix">
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="da-card-content">
                                                        <h5 class="h5 mb-10">Aarin Weeding Templates</h5>
                                                        <p class="mb-0">Pernikahan</p>
                                                    </div>
                                                </div>
                                            </div>
										</div>
									</div>
									<div class="tab-pane fade" id="kategoriPernikahan" role="tabpanel">
										<div class="pd-20">
											<div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                                                <div class="da-card">
                                                    <div class="da-card-photo">
                                                        <img src="vendors/images/photo1.jpg" alt="">
                                                        <div class="da-overlay">
                                                            <div class="da-social">
                                                                <ul class="clearfix">
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="da-card-content">
                                                        <h5 class="h5 mb-10">Weeding Gift</h5>
                                                        <p class="mb-0">Pernikahan</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                                                <div class="da-card">
                                                    <div class="da-card-photo">
                                                        <img src="vendors/images/photo1.jpg" alt="">
                                                        <div class="da-overlay">
                                                            <div class="da-social">
                                                                <ul class="clearfix">
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="da-card-content">
                                                        <h5 class="h5 mb-10">Java Black</h5>
                                                        <p class="mb-0">Pernikahan</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                                                <div class="da-card">
                                                    <div class="da-card-photo">
                                                        <img src="vendors/images/photo1.jpg" alt="">
                                                        <div class="da-overlay">
                                                            <div class="da-social">
                                                                <ul class="clearfix">
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="da-card-content">
                                                        <h5 class="h5 mb-10">Aarin Weeding Templates</h5>
                                                        <p class="mb-0">Pernikahan</p>
                                                    </div>
                                                </div>
                                            </div>
										</div>
									</div>
									<div class="tab-pane fade" id="kategoriUltah" role="tabpanel">
										<div class="pd-20">
											<span>Template belum tersedia</span>
										</div>
									</div>
									<div class="tab-pane fade" id="kategoriWisuda" role="tabpanel">
										<div class="pd-20">
											<span>Template belum tersedia</span>
										</div>
									</div>
									<div class="tab-pane fade" id="kategoriKhitanan" role="tabpanel">
										<div class="pd-20">
											<span>Template belum tersedia</span>
										</div>
									</div>
									<div class="tab-pane fade" id="kategoriSyukuran" role="tabpanel">
										<div class="pd-20">
                                            <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                                                <div class="da-card">
                                                    <div class="da-card-photo">
                                                        <img src="vendors/images/photo1.jpg" alt="">
                                                        <div class="da-overlay">
                                                            <div class="da-social">
                                                                <ul class="clearfix">
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                    <li><a href="#"></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="da-card-content">
                                                        <h5 class="h5 mb-10">Green Templates</h5>
                                                        <p class="mb-0">Syukuran</p>
                                                    </div>
                                                </div>
                                            </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- ============================================================== -->
			<!-- Footer -->
			<!-- ============================================================== -->
			{% include 'components/dash_footer.html' %}
		</div>
	</div>
{% endblock %}