{% extends 'layouts/auth_layout.html' %} {% block content %}
	<!-- ============================================================== -->
	<!-- PRELOADER - ALL PAGE - ALL -->
	<!-- ============================================================== -->
    {% include 'components/preloader.html' %}
	<!-- ============================================================== -->
	<!-- End PRELOADER -->
	<!-- ============================================================== -->


	<!-- ============================================================== -->
	<!-- HEADER - SIGN UP - USER -->
	<!-- ============================================================== -->
	<div class="login-header box-shadow">
		<div class="container-fluid d-flex justify-content-between align-items-center">
			<div class="brand-logo">
				<a href="{{ url_for('home') }}">
					<img src="{{ url_for('static', filename='assets/images/ic_logo_purp.png') }}" alt="">
				</a>
			</div>
			<div class="login-menu">
				<ul>
					<li><a href="{{ url_for('auth.sign_in') }}">Sign In</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- END HEADER -->
	<!-- ============================================================== -->


	<!-- ============================================================== -->
	<!-- MAIN CONTENT - SIGN UP - USER -->
	<!-- ============================================================== -->
	<div class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center">
		<div class="container">
			<div class="row align-items-center">
				<!-- ============================================================== -->
				<!-- Image Banner Section -->
				<div class="col-md-6 col-lg-7">
					<img src="{{ url_for('static', filename='assets/images/cuate_signup.svg') }}" style="height: 500px; width: 700px;" alt="">
				</div>
				<!-- End Image Banner -->
				<!-- ============================================================== -->

				<!-- ============================================================== -->
				<!-- Form Sign Up Section -->
				<div class="col-md-6 col-lg-5">
					<div class="login-box bg-white box-shadow border-radius-10">
						<div class="login-title">
							<h2 class="text-center text-primary">Create New Account</h2>
						</div>
						<form action="{{ url_for('auth.signup_proccess') }}" method="post">
							<!-- ============================================================== -->
							<!-- Alert -->
							{% with messages = get_flashed_messages(with_categories=true) %}
							{% include "components/alert.html" %}
							{% endwith %}
							<!-- End Alert -->
							<!-- ============================================================== -->

							<div class="form-wrap max-width-600 mx-auto">
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">First Name*</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" name="first_name" id="first_name">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Middle Name</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" name="middle_name" id="middle_name">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Last Name</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" name="last_name" id="last_name">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Email*</label>
									<div class="col-sm-8">
										<input type="email" class="form-control" name="email" id="email">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Phone*</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" name="phone_number" id="phone_number">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Password*</label>
									<div class="col-sm-8">
										<input type="password" class="form-control" name="password" id="password">
										<small class="form-text text-muted">
											*Password must contain uppercase & lowercase letters, numbers, and have 6 - 20 characters.
										</small>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-4 col-form-label">Confirm Password*</label>
									<div class="col-sm-8">
										<input type="password" class="form-control" name="retype_password" id="retype_password">
										<small class="form-text text-muted">
											*Confirm password must be the same.
										</small>
									</div>
								</div>
							</div>
							<div class="row pb-30">
								<div class="col-6">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="togglePassword">
										<label class="custom-control-label" for="togglePassword">Show Password</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="input-group mb-0">
										<button class="btn btn-primary btn-lg btn-block" type="submit">Sign Up</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- End Form Sign Up -->
				<!-- ============================================================== -->
			</div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- END MAIN CONTENT -->
	<!-- ============================================================== -->

	
	<!-- ============================================================== -->
	<!-- JAVASCRIPTS - DASHBOARD PAGE - ALL -->
	<!-- ============================================================== -->
	<script src="{{ url_for('static', filename='js/Auth/signup.js') }}"></script>
	<!-- ============================================================== -->
	<!-- END JAVASCRIPTS -->
	<!-- ============================================================== -->	
{% endblock %}