<!-- ============================================================== -->
<!-- PAGE CONTENT - TEMPLATE MANAGEMENT - ADMIN -->
<!-- ============================================================== -->
{% extends 'layouts/dash_layout.html' %} {% block content %}

    <!-- ============================================================== -->
    <!-- PRELOADER - ALL PAGE - ALL -->
    <!-- ============================================================== -->
    {% include 'components/preloader.html' %}
    <!-- ============================================================== -->
    <!-- END PRELOADER -->
    <!-- ============================================================== -->
	

	<!-- ============================================================== -->
	<!-- HEADER - ALL PAGE - ALL -->
	<!-- ============================================================== -->
	{% include 'components/dash_header.html' %}
	<!-- ============================================================== -->
	<!-- END HEADER -->
	<!-- ============================================================== -->
	

	<!-- ============================================================== -->
	<!-- NAVIGATION SIDEBAR - ALL PAGE - ALL -->
	<!-- ============================================================== -->
	{% include 'components/dash_sidebar.html' %}
	<!-- ============================================================== -->
	<!-- END NAVIGATION SIDEBAR -->
	<!-- ============================================================== -->
	

	<!-- ============================================================== -->
	<!-- MAIN CONTENT - TEMPLATE MANAGEMENT - ADMIN -->
	<!-- ============================================================== -->
	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
            <!-- ============================================================== -->
			<!-- Content Section -->
			<div class="min-height-200px">
				<!-- ============================================================== -->
				<!-- Header COntent Section -->
				<div class="page-header">
					<div class="row">
						<!-- ============================================================== -->
						<!-- Title & Breadcrumb Section -->
						<div class="col-md-6 col-sm-12">
							<!-- ============================================================== -->
							<!-- Title Section -->
							<div class="title">
								<h4>Template Detail</h4>
							</div>
							<!-- End Title -->
							<!-- ============================================================== -->

							<!-- ============================================================== -->
							<!-- Breadcrumb Section -->
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{{ url_for('dashboard.index') }}">Home</a></li>
                                    <li class="breadcrumb-item"><a href="{{ url_for('management.template.index') }}">Template Management</a></li>
									<li class="breadcrumb-item active" aria-current="page">Detail</li>
								</ol>
							</nav>
							<!-- End Breadcrumb -->
							<!-- ============================================================== -->
						</div>
						<!-- End Title & Breadcrumb -->
						<!-- ============================================================== -->

						<!-- ============================================================== -->
						<!-- Management Add Button Section -->
						<div class="col-md-6 col-sm-10 text-right">
							<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#tmpltAddModal" type="button" role="button">
								<i class="icon-copy fa fa-plus" aria-hidden="true"></i>  Add
							</a>
						</div>
						<!-- End Management Add Button -->
						<!-- ============================================================== -->
					</div>
				</div>
				<!-- End Header COntent -->
				<!-- ============================================================== -->

				<!-- ============================================================== -->
				<!-- Template Gallery Section -->
				{# If Template Null #} {#% if data['list_template'] == None %#}
					<!-- ============================================================== -->
					<!-- Template Null Section -->
					<div class="tab-pane fade show active" id="invitationTabModal" role="tabpanel">
						<div class="pd-20">
							{% with
								title = "出来るよ。やった。",
								pict_size = 350
							%}
							{% include 'components/not_found.html' %}
							{% endwith %}
						</div>
					</div>
					<!-- End Template Null -->
					<!-- ============================================================== -->
				{#% endif %#}
				<!-- End Template Gallery -->
				<!-- ============================================================== -->
			</div>
			<!-- End Content -->
			<!-- ============================================================== -->

			<!-- ============================================================== -->
			<!-- Footer Section -->
			{% include 'components/dash_footer.html' %}
			<!-- End Footer -->
			<!-- ============================================================== -->

			<!-- ============================================================== -->
			<!-- Modal Add Section -->
			{% include 'addTemplate.html' %}
			<!-- End Modal -->
			<!-- ============================================================== -->
		</div>
	</div>
    <!-- ============================================================== -->
	<!-- END MAIN CONTENT -->
	<!-- ============================================================== -->

{% endblock %}
<!-- ============================================================== -->
<!-- END PAGE CONTENT -->
<!-- ============================================================== -->