{% extends 'layouts/dash_layout.html' %} {% block content %}
	{% include 'components/dash_header.html' %}

	{% include 'components/dash_sidebar.html' %}

	<div class="main-container">
		<div class="pd-ltr-20">
			<div class="card-box pd-20 height-100-p mb-30">
				<div class="row align-items-center">
					<div class="col-md-4">
						<img src="{{ url_for('static', filename='assets/images/cuate_banner.svg') }}" alt="" style="height: 200px; width: 400px;">
					</div>
					<div class="col-md-8">
						<h4 class="font-20 weight-500 mb-10 text-capitalize">
							Selamat Datang <div class="weight-600 font-30 text-blue">{{session['user']['name']}}!</div>
						</h4>
						<p class="font-18 max-width-600">Selamat datang di website Creavitation. Tempat pembuatan undangan digital dengan berbagai template menarik.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-4 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<img src="{{ url_for('static', filename='assets/images/invitation.png') }}" style="height: 40px; display: block; margin-left: auto; margin-right: auto;" alt="">
							</div>
							<div class="widget-data">
								<div class="h4 mb-0">3</div>
								<div class="weight-600 font-14">My Invitation</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<img src="{{ url_for('static', filename='assets/images/user.png') }}" style="height: 40px; display: block; margin-left: auto; margin-right: auto;" alt="">
							</div>
							<div class="widget-data">
								<div class="h4 mb-0">125</div>
								<div class="weight-600 font-14">Guest</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<img src="{{ url_for('static', filename='assets/images/wedding-invitation.png') }}" style="height: 40px; display: block; margin-left: auto; margin-right: auto;" alt="">
							</div>
							<div class="widget-data">
								<div class="h4 mb-0">56</div>
								<div class="weight-600 font-14">Greetings</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-box pd-20 height-100-p mb-30">
				<h2 class="h4 pd-20">Populars</h2>
				<div class="row clearfix">
					<div class="col-lg-3 col-md-6 col-sm-12 mb-30">
						<div class="da-card">
							<div class="da-card-photo">
								<img src="vendors/images/photo1.jpg" alt="">
								<div class="da-overlay">
									<div class="da-social">
										<ul class="clearfix">
											<li><a href="#"></a></li>
											<li><a href="#"></a></li>
											<li><a href="#"></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="da-card-content">
								<h5 class="h5 mb-10">Weeding Gift</h5>
								<p class="mb-0">Pernikahan</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 mb-30">
						<div class="da-card">
							<div class="da-card-photo">
								<img src="vendors/images/photo1.jpg" alt="">
								<div class="da-overlay">
									<div class="da-social">
										<ul class="clearfix">
											<li><a href="#"></a></li>
											<li><a href="#"></a></li>
											<li><a href="#"></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="da-card-content">
								<h5 class="h5 mb-10">Java Black</h5>
								<p class="mb-0">Pernikahan</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 mb-30">
						<div class="da-card">
							<div class="da-card-photo">
								<img src="vendors/images/photo1.jpg" alt="">
								<div class="da-overlay">
									<div class="da-social">
										<ul class="clearfix">
											<li><a href="#"></a></li>
											<li><a href="#"></a></li>
											<li><a href="#"></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="da-card-content">
								<h5 class="h5 mb-10">Green Templates</h5>
								<p class="mb-0">Syukuran</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 mb-30">
						<div class="da-card">
							<div class="da-card-photo">
								<img src="vendors/images/photo1.jpg" alt="">
								<div class="da-overlay">
									<div class="da-social">
										<ul class="clearfix">
											<li><a href="#"></a></li>
											<li><a href="#"></a></li>
											<li><a href="#"></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="da-card-content">
								<h5 class="h5 mb-10">Aarin Weeding Templates</h5>
								<p class="mb-0">Pernikahan</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- ============================================================== -->
			<!-- Footer -->
			<!-- ============================================================== -->
			{% include 'components/dash_footer.html' %}
		</div>
	</div>
{% endblock %}