<!-- ============================================================== -->
<!-- PAGE CONTENT - PROFILE USER - ALL -->
<!-- ============================================================== -->
{% extends 'layouts/dash_layout.html' %} {% block content %}

	<!-- ============================================================== -->
	<!-- PRELOADER - ALL PAGE - ALL -->
	<!-- ============================================================== -->
    {% include 'components/preloader.html' %}
	<!-- ============================================================== -->
	<!-- END PRELOADER -->
	<!-- ============================================================== -->
	

	<!-- ============================================================== -->
	<!-- HEADER - ALL PAGE - ALL -->
	<!-- ============================================================== -->
	{% include 'components/dash_header.html' %}
	<!-- ============================================================== -->
	<!-- END HEADER -->
	<!-- ============================================================== -->
	

	<!-- ============================================================== -->
	<!-- NAVIGATION SIDEBAR - ALL PAGE - ALL -->
	<!-- ============================================================== -->
	{% include 'components/dash_sidebar.html' %}
	<!-- ============================================================== -->
	<!-- END NAVIGATION SIDEBAR -->
	<!-- ============================================================== -->
	

	<!-- ============================================================== -->
	<!-- MAIN CONTENT - PROFILE USER - ALL -->
	<!-- ============================================================== -->
	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<!-- ============================================================== -->
			<!-- Content Section -->
			<div class="min-height-200px">
				<!-- ============================================================== -->
				<!-- Title Page & Breadcrumb Section -->
				<div class="page-header">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="title">
								<h4>Profile</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{{ url_for('dashboard.index') }}">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Profile</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
				<!-- End Title Page & Breadcrumb -->
				<!-- ============================================================== -->
				
				<!-- ============================================================== -->
				<!-- Profile Content Section -->
				<div class="row">
					<!-- ============================================================== -->
					<!-- User's Profile Details Section -->
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
						<div class="pd-20 card-box height-100-p">
							<!-- ============================================================== -->
							<!-- Profile Photos Section -->
							<div class="profile-photo">
								<!-- <a href="modal" data-toggle="modal" data-target="#modal" class="edit-avatar"><i class="fa fa-pencil"></i></a> -->
								<img src="{{ data['profile']['photos'] }}" alt="" class="avatar-photo">
								<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<!-- <form action="#"> -->
											<div class="modal-content">
												<div class="modal-body pd-5">
													<div class="form-group">
														<label for=""></label>
														<input type="file" name="file" />
													</div>
													<div class="img-container">
														<img id="image" src="{{ data['profile']['photos'] }}" alt="Picture">
													</div>
												</div>
												<div class="modal-footer">
													<input type="submit" value="Update" class="btn btn-primary">
													<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												</div>
											</div>
										<!-- </form> -->
									</div>
								</div>
							</div>
							<!-- End Profile Photos -->
							<!-- ============================================================== -->

							<!-- ============================================================== -->
							<!-- User Name Section -->
							<h5 class="text-center h5 mb-0">{{ data['profile']['first_name']+' '+data['profile']['middle_name']+' '+data['profile']['last_name'] }}</h5>
							<p class="text-center text-muted font-14">{{ data['profile']['created_at']['full'] }}</p>
							<!-- End User Name -->
							<!-- ============================================================== -->

							<!-- ============================================================== -->
							<!-- Profile Info Section -->
							<div class="profile-info">
								<h5 class="mb-20 h5 text-blue">Contact Information</h5>
								<ul>
									<!-- ============================================================== -->
									<!-- Email User -->
									<li>
										<span>Email Address:</span>
										{{ data['profile']['email'] }}
									</li>
									<!-- End Email User -->

									<!-- Number Phone -->
									<li>
										<span>Phone Number:</span>
										{{ data['profile']['phone'] }}
									</li>
									<!-- End Number Phone -->

									<!-- User Status -->
									<li>
										<span>Status:</span>
										{{ data['profile']['status'] }}
									</li>
									<!-- End User Status -->

									<!-- User Level -->
									<li>
										<span>Level Access:</span>
										{{ data['profile']['level'] }}
									</li>
									<!-- End User Level -->

									<!-- Last Sign In -->
									<li>
										<span>Last Sign In:</span>
										{{ data['profile']['last_active']['full'] }}
									</li>
									<!-- End Last Sign In -->

									<!-- Last Sign In -->
									<!-- <li>
										<a href="#" class="btn btn-outline-danger btn-block mt-5">Delete My Account</a>
									</li> -->
									<!-- End Last Sign In -->
									<!-- ============================================================== -->
								</ul>
							</div>
							<!-- End Profile Info -->
							<!-- ============================================================== -->
						</div>
					</div>
					<!-- End User's Profile Details -->
					<!-- ============================================================== -->

					<!-- ============================================================== -->
					<!-- Security & Setting Section -->
					<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
						<div class="card-box height-100-p overflow-hidden">
							<div class="profile-tab height-100-p">
								<div class="tab height-100-p">
									<!-- ============================================================== -->
									<!-- Navigation Tab Section -->
									<ul class="nav nav-tabs customtab" role="tablist">
										<li class="nav-item">
											<a class="nav-link active" data-toggle="tab" href="#setting" role="tab">Settings</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" data-toggle="tab" href="#security" role="tab">Security</a>
										</li>
									</ul>
									<!-- End Navigation Tab -->
									<!-- ============================================================== -->

									<!-- ============================================================== -->
									<!-- Content Tab Section -->
									<div class="tab-content">
										<!-- ============================================================== -->
										<!-- Log Tab -->
										<!-- End Log Tab -->

										<!-- Setting Tab -->
										<div class="tab-pane fade height-100-p show active" id="setting" role="tabpanel">
											<div class="profile-setting">
												<form action="{{ url_for('management.profile.edit_process') }}" method="POST">
													<ul class="profile-edit-list row">
														<li class="weight-500 col-md-12">
															<h4 class="text-blue h5 mb-20">Edit Your Personal Setting</h4>
															<!-- ============================================================== -->
															<!-- Alert -->
															{% with messages = get_flashed_messages(with_categories=true) %}
															{% include "components/alert.html" %}
															{% endwith %}
															<!-- End Alert -->
															<!-- ============================================================== -->
															 
															<div class="form-group">
																<label>First Name</label>
																<input class="form-control form-control-lg" type="text" placeholder="Type here.." name="f_name" id="f_name" value="{{ data['profile']['first_name'] }}">
															</div>
															<div class="form-group">
																<label>Middle Name</label>
																<input class="form-control form-control-lg" type="text" placeholder="Type here.." name="m_name" id="m_name" value="{{ data['profile']['middle_name'] }}">
															</div>
															<div class="form-group">
																<label>Last Name</label>
																<input class="form-control form-control-lg" type="text" placeholder="Type here.." name="l_name" id="l_name" value="{{ data['profile']['last_name'] }}">
															</div>
															<!-- <div class="form-group">
																<label>Email</label>
																<input class="form-control form-control-lg" type="email">
															</div>
															<div class="form-group">
																<label>Date of birth</label>
																<input class="form-control form-control-lg date-picker" type="text">
															</div>
															<div class="form-group">
																<label>Gender</label>
																<div class="d-flex">
																<div class="custom-control custom-radio mb-5 mr-20">
																	<input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
																	<label class="custom-control-label weight-400" for="customRadio4">Male</label>
																</div>
																<div class="custom-control custom-radio mb-5">
																	<input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
																	<label class="custom-control-label weight-400" for="customRadio5">Female</label>
																</div>
																</div>
															</div>
															<div class="form-group">
																<label>Country</label>
																<select class="selectpicker form-control form-control-lg" data-style="btn-outline-secondary btn-lg" title="Not Chosen">
																	<option>United States</option>
																	<option>India</option>
																	<option>United Kingdom</option>
																</select>
															</div>
															<div class="form-group">
																<label>State/Province/Region</label>
																<input class="form-control form-control-lg" type="text">
															</div>
															<div class="form-group">
																<label>Postal Code</label>
																<input class="form-control form-control-lg" type="text">
															</div> -->
															<div class="form-group">
																<label>Phone Number</label>
																<input class="form-control form-control-lg" type="text" placeholder="081234xxxxxx" name="phone" id="phone">
															</div>
															<!-- <div class="form-group">
																<label>Address</label>
																<textarea class="form-control"></textarea>
															</div>
															<div class="form-group">
																<label>Visa Card Number</label>
																<input class="form-control form-control-lg" type="text">
															</div>
															<div class="form-group">
																<label>Paypal ID</label>
																<input class="form-control form-control-lg" type="text">
															</div>
															<div class="form-group">
																<div class="custom-control custom-checkbox mb-5">
																	<input type="checkbox" class="custom-control-input" id="customCheck1-1">
																	<label class="custom-control-label weight-400" for="customCheck1-1">I agree to receive notification emails</label>
																</div>
															</div> -->
															<div class="form-group mb-0">
																<input type="submit" class="btn btn-primary" value="Update">
															</div>
														</li>
														<!-- <li class="weight-500 col-md-6">
															<h4 class="text-blue h5 mb-20">Edit Social Media links</h4>
															<div class="form-group">
																<label>Facebook URL:</label>
																<input class="form-control form-control-lg" type="text" placeholder="Paste your link here">
															</div>
															<div class="form-group">
																<label>Twitter URL:</label>
																<input class="form-control form-control-lg" type="text" placeholder="Paste your link here">
															</div>
															<div class="form-group">
																<label>Linkedin URL:</label>
																<input class="form-control form-control-lg" type="text" placeholder="Paste your link here">
															</div>
															<div class="form-group">
																<label>Instagram URL:</label>
																<input class="form-control form-control-lg" type="text" placeholder="Paste your link here">
															</div>
															<div class="form-group">
																<label>Dribbble URL:</label>
																<input class="form-control form-control-lg" type="text" placeholder="Paste your link here">
															</div>
															<div class="form-group">
																<label>Dropbox URL:</label>
																<input class="form-control form-control-lg" type="text" placeholder="Paste your link here">
															</div>
															<div class="form-group">
																<label>Google-plus URL:</label>
																<input class="form-control form-control-lg" type="text" placeholder="Paste your link here">
															</div>
															<div class="form-group">
																<label>Pinterest URL:</label>
																<input class="form-control form-control-lg" type="text" placeholder="Paste your link here">
															</div>
															<div class="form-group">
																<label>Skype URL:</label>
																<input class="form-control form-control-lg" type="text" placeholder="Paste your link here">
															</div>
															<div class="form-group">
																<label>Vine URL:</label>
																<input class="form-control form-control-lg" type="text" placeholder="Paste your link here">
															</div>
															<div class="form-group mb-0">
																<input type="submit" class="btn btn-primary" value="Save & Update">
															</div>
														</li> -->
													</ul>
												</form>
											</div>
										</div>
										<!-- End Setting Tab -->

										<!-- Setting Tab -->
										<div class="tab-pane fade height-100-p" id="security" role="tabpanel">
											<div class="profile-setting">
												<form>
													<ul class="profile-edit-list row">
														<li class="weight-500 col-md-12">
															<h4 class="text-blue h5 mb-20">Change Your Password</h4>
															<div class="form-group">
																<label>Current Password</label>
																<input class="form-control form-control-lg" type="password" name="current_password" id="current_password" placeholder="Type your current password">
															</div>
															<div class="form-group">
																<label>New Password</label>
																<input class="form-control form-control-lg" type="password" name="password" id="password" placeholder="Type your new password">
																<small class="form-text text-muted">
																	*Password must contain uppercase & lowercase letters, numbers, and have 6 - 20 characters.
																</small>
															</div>
															<div class="form-group">
																<label>Confirm New Password</label>
																<input class="form-control form-control-lg" type="password" name="retype_password" id="retype_password" placeholder="Re-type your new password">
																<small class="form-text text-muted">
																	*Confirm password must be the same.
																</small>
															</div>
															<div class="form-group">
																<div class="custom-control custom-checkbox">
																	<input type="checkbox" class="custom-control-input" id="togglePassword">
																	<label class="custom-control-label" for="togglePassword">Show Password</label>
																</div>
															</div>
															<div class="form-group mb-0">
																<input type="submit" class="btn btn-primary" value="Update">
															</div>
														</li>
													</ul>
												</form>
											</div>
										</div>
										<!-- End Setting Tab -->
										<!-- ============================================================== -->
									</div>
									<!-- End Content Tab -->
									<!-- ============================================================== -->
								</div>
							</div>
						</div>
					</div>
					<!-- End Security & Setting -->
					<!-- ============================================================== -->
				</div>
				<!-- End Profile Content -->
				<!-- ============================================================== -->
			</div>
			<!-- End Content -->
			<!-- ============================================================== -->
			
			<!-- ============================================================== -->
			<!-- Footer Section -->
			{% include 'components/dash_footer.html' %}
			<!-- End Footer -->
			<!-- ============================================================== -->
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- END MAIN CONTENT -->
	<!-- ============================================================== -->

	
	<!-- ============================================================== -->
	<!-- JAVASCRIPTS - DASHBOARD PAGE - ALL -->
	<!-- ============================================================== -->
	<script src="{{ url_for('static', filename='js/Auth/showhidepasswd.js') }}"></script>
	<script src="{{ url_for('static', filename='src/plugins/cropperjs/dist/cropper.js') }}"></script>
	<script>
		window.addEventListener('DOMContentLoaded', function () {
			var image = document.getElementById('image');
			var cropBoxData;
			var canvasData;
			var cropper;

			$('#modal').on('shown.bs.modal', function () {
				cropper = new Cropper(image, {
					autoCropArea: 0.5,
					dragMode: 'move',
					aspectRatio: 3 / 3,
					restore: false,
					guides: false,
					center: false,
					highlight: false,
					cropBoxMovable: false,
					cropBoxResizable: false,
					toggleDragModeOnDblclick: false,
					ready: function () {
						cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
					}
				});
			}).on('hidden.bs.modal', function () {
				cropBoxData = cropper.getCropBoxData();
				canvasData = cropper.getCanvasData();
				cropper.destroy();
			});
		});
	</script>
	<!-- ============================================================== -->
	<!-- END JAVASCRIPTS -->
	<!-- ============================================================== -->	

{% endblock %}
<!-- ============================================================== -->
<!-- END PAGE CONTENT -->
<!-- ============================================================== -->