<!-- ============================================================== -->
<!-- PAGE CONTENT - GUEST - USER -->
<!-- ============================================================== -->
{% extends 'layouts/dash_layout.html' %} {% block content %}

	<!-- ============================================================== -->
	<!-- PRELOADER - ALL PAGE - ALL -->
	<!-- ============================================================== -->
    {% include 'components/preloader.html' %}
	<!-- ============================================================== -->
	<!-- END PRELOADER -->
	<!-- ============================================================== -->
	

	<!-- ============================================================== -->
	<!-- HEADER - ALL PAGE - ALL -->
	<!-- ============================================================== -->
	{% include 'components/dash_header.html' %}
	<!-- ============================================================== -->
	<!-- END HEADER -->
	<!-- ============================================================== -->
	

	<!-- ============================================================== -->
	<!-- NAVIGATION SIDEBAR - ALL PAGE - ALL -->
	<!-- ============================================================== -->
	{% include 'components/dash_sidebar.html' %}
	<!-- ============================================================== -->
	<!-- END NAVIGATION SIDEBAR -->
	<!-- ============================================================== -->
	

	<!-- ============================================================== -->
	<!-- MAIN CONTENT - GUEST - USER -->
	<!-- ============================================================== -->
	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
            <!-- ============================================================== -->
			<!-- Content Section -->
			<div class="min-height-200px">
                <!-- ============================================================== -->
				<!-- Header Content Section -->
				<div class="page-header">
					<div class="row">
						<!-- ============================================================== -->
						<!-- Title & Breadcrumb Section -->
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Data Tamu</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{{ url_for('dashboard.index') }}">Home</a></li>
									<li class="breadcrumb-item"><a href="{{ url_for('management.invitation.index') }}">Undanganku</a></li>
									<li class="breadcrumb-item"><a href="{{ url_for('management.invitation.detail', id=data['invitation']['invitation_id'], code=data['invitation']['invitation_code']) }}">Detail</a></li>
									<li class="breadcrumb-item active" aria-current="page">Buat Baru</li>
								</ol>
							</nav>
						</div>
						<!-- End Title & Breadcrumb -->
						<!-- ============================================================== -->
					</div>
				</div>
                <!-- End Header Content -->
				<!-- ============================================================== -->
				
				<!-- ============================================================== -->
				<!-- Alert -->
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% include "components/alert.html" %}
				{% endwith %}
				<!-- End Alert -->
				<!-- ============================================================== -->

                <!-- ============================================================== -->
				<!-- Default Basic Forms Start -->
				<form action="{{ url_for('guest.copy_process') }}" method="post">
					<div class="form-group row">
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" type="hidden" name="invitation_id" id="invitation_id" value="{{ data['invitation']['invitation_id'] }}">
                            <input class="form-control" type="hidden" name="inv_code" id="inv_code" value="{{ data['invitation']['invitation_code'] }}">
                            <input class="form-control" type="hidden" name="category_id" id="category_id" value="{{ data['invitation']['category_id'] }}">
                        </div>
                    </div>

					<!-- Data tamu -->
					<div class="pd-20 card-box mb-30">
						<div class="clearfix">
							<div class="pull-left">
								<h4 class="text-blue h4">Salin Data Tamu</h4>
							</div>
						</div>
						<div class="form-group row mt-3">
							<label class="col-sm-12 col-md-2 col-form-label">Undangan*</label>
							<div class="col-sm-12 col-md-10">
								<select class="custom-select col-12" name="ref_code" id="ref_code">
									<option selected>Choose...</option>
                                    {% for item in data['list_invitation'] %}
									<option value="{{ item['invitation_code'] }}">{{ item['invitation_title'] }} </option>
                                    {% endfor %}
								</select>
								<!-- <select class="custom-select2 form-control" name="state" style="width: 100%; height: 38px;">
                                    <optgroup label="Alaskan/Hawaiian Time Zone">
                                        <option value="AK">Alaska</option>
                                        <option value="HI">Hawaii</option>
                                    </optgroup>
                                    <optgroup label="Pacific Time Zone">
                                        <option value="CA">California</option>
                                        <option value="NV">Nevada</option>
                                        <option value="OR">Oregon</option>
                                        <option value="WA">Washington</option>
                                    </optgroup>
                                    <optgroup label="Mountain Time Zone">
                                        <option value="AZ">Arizona</option>
                                        <option value="CO">Colorado</option>
                                        <option value="ID">Idaho</option>
                                        <option value="MT">Montana</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NM">New Mexico</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="UT">Utah</option>
                                        <option value="WY">Wyoming</option>
                                    </optgroup>
                                </select> -->
							</div>
						</div>
						<div class="form-group row mt-5">
                            <div class="col-sm-12 col-md-12 text-right">
                                <a href="{{ url_for('management.invitation.detail', id=data['invitation']['invitation_id'], code=data['invitation']['invitation_code']) }}" type="button" class="btn btn-outline-danger mr-2" >Kembali</a>
                                <button type="submit" id="invitationAddBtn" class="btn btn-outline-primary">Simpan</button>
							</div>
						</div>
					</div>
				</form>
                <!-- Default Basic Forms End -->
				<!-- ============================================================== -->
			</div>
			<!-- End Content -->
			<!-- ============================================================== -->
            
			<!-- ============================================================== -->
			<!-- Footer -->
			<!-- ============================================================== -->
			{% include 'components/dash_footer.html' %}
			<!-- End Footer -->
			<!-- ============================================================== -->
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- END MAIN CONTENT -->
	<!-- ============================================================== -->

{% endblock %}
<!-- ============================================================== -->
<!-- END PAGE CONTENT -->
<!-- ============================================================== -->