<!-- ============================================================== -->
<!-- PAGE CONTENT - GUEST - USER -->
<!-- ============================================================== -->
{% extends 'layouts/dash_layout.html' %} {% block content %}

	<!-- ============================================================== -->
	<!-- PRELOADER - ALL PAGE - ALL -->
	<!-- ============================================================== -->
    {% include 'components/preloader.html' %}
	<!-- ============================================================== -->
	<!-- END PRELOADER -->
	<!-- ============================================================== -->
	

	<!-- ============================================================== -->
	<!-- HEADER - ALL PAGE - ALL -->
	<!-- ============================================================== -->
	{% include 'components/dash_header.html' %}
	<!-- ============================================================== -->
	<!-- END HEADER -->
	<!-- ============================================================== -->
	

	<!-- ============================================================== -->
	<!-- NAVIGATION SIDEBAR - ALL PAGE - ALL -->
	<!-- ============================================================== -->
	{% include 'components/dash_sidebar.html' %}
	<!-- ============================================================== -->
	<!-- END NAVIGATION SIDEBAR -->
	<!-- ============================================================== -->
	

	<!-- ============================================================== -->
	<!-- MAIN CONTENT - GUEST - USER -->
	<!-- ============================================================== -->
	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
            <!-- ============================================================== -->
			<!-- Content Section -->
			<div class="min-height-200px">
                <!-- ============================================================== -->
				<!-- Header Content Section -->
				<div class="page-header">
					<div class="row">
						<!-- ============================================================== -->
						<!-- Title & Breadcrumb Section -->
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Undanganku</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{{ url_for('dashboard.index') }}">Home</a></li>
									<li class="breadcrumb-item"><a href="{{ url_for('management.invitation.index') }}">Undanganku</a></li>
									<li class="breadcrumb-item active" aria-current="page">Ubah Data</li>
								</ol>
							</nav>
						</div>
						<!-- End Title & Breadcrumb -->
						<!-- ============================================================== -->
					</div>
				</div>
                <!-- End Header Content -->
				<!-- ============================================================== -->
				 
				<!-- ============================================================== -->
				<!-- Alert Section -->
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% include "components/alert.html" %}
				{% endwith %}
				<!-- End Alert -->
				<!-- ============================================================== -->

                <!-- ============================================================== -->
				<!-- Default Basic Forms Start -->
				<form action="{{ url_for('management.invitation.edit_proccess') }}" method="post" enctype="multipart/form-data">
					<div class="pd-20 card-box mb-30">
						<div class="clearfix">
							<div class="pull-left">
								<h4 class="text-blue h4">Data Undangan</h4>
							</div>
						</div>
						<div class="form-group row">
							<input class="form-control" type="hidden" placeholder="Tulis disini" name="invitation_id" id="invitation_id" value="{{ data['invitation']['invitation_id'] }}">
							<input class="form-control" type="hidden" placeholder="Tulis disini" name="invitation_code" id="invitation_code" value="{{ data['invitation']['invitation_code'] }}">
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Kategori</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="hidden" name="category_id" id="category_id" value="{{ data['invitation']['category_id'] }}">
								<input class="form-control" type="text" name="category" id="category" value="{{ data['invitation']['category'] }}" readonly>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Template</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="hidden" name="template_id" id="template_id" value="{{ data['invitation']['template_id'] }}">
								<input class="form-control" type="text" name="template" id="template" value="{{ data['invitation']['template_title'] }}" readonly>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Judul*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" placeholder="Tulis disini" name="title" id="title" value="{{ data['invitation']['invitation_title'] }}">
								<small class="form-text text-muted">
									*Judul bisa berupa nama acara atau nama pemilik acara.
									(Contoh: Budi&Ani, Our_wedding, Ani's_Day, My_graduation)
								</small>
							</div>
						</div>
					</div>

					{% if data['invitation']['category'].upper() == "PERNIKAHAN" %}
					<!-- Data diri mempelai wanita -->
					<div class="pd-20 card-box mb-30">
						<div class="clearfix">
							<div class="pull-left">
								<h4 class="text-blue h4">Data Pribadi Mempelai Wanita</h4>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Nama Lengkap Wanita*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" placeholder="Tulis disini" name="woman_fullname" id="woman_fullname" value="{{ data['invitation']['personal_data']['woman_fullname'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Nama Panggilan Wanita*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" placeholder="Tulis disini" name="woman_name" id="woman_name" value="{{ data['invitation']['personal_data']['woman_name'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Foto</label>
							<div class="col-sm-12 col-md-10">
								<input type="file" class="form-control-file form-control height-auto" accept=".jpg,.jpeg,.png" name="womans_photo" id="womans_photo">
								<input type="hidden" class="form-control-file form-control height-auto" accept=".jpg,.jpeg,.png" name="womans_photo_old" id="womans_photo_old" value="{{ data['invitation']['personal_data']['wp_filename'] }}">
								<small class="form-text text-muted">
									{{ data['invitation']['personal_data']['wp_filename'] }}
								</small>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Alamat*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" name="woman_address" id="woman_address" value="{{ data['invitation']['personal_data']['woman_address'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Putri ke*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="number" name="daughter_no" id="daughter_no" value="{{ data['invitation']['personal_data']['daughter_no'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Nama Ayah*</label>
							<div class="col-sm-4 col-md-2">
								<select class="form-control" name="woman_dad_status" id="woman_dad_status">
									{% if data['invitation']['personal_data']['woman_dad_status'] == "0" %}
									<option selected="0">Masih hidup</option>
									<option value="Alm">Meninggal</option>
									{% else %}
									<option value="0">Masih hidup</option>
									<option selected="Alm">Meninggal</option>
									{% endif %}
								</select>
							</div>
							<div class="col-sm-8 col-md-8">
								<input class="form-control" type="text" placeholder="Tulis disini" name="womans_dad" id="womans_dad" value="{{ data['invitation']['personal_data']['womans_dad'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Nama Ibu*</label>
							<div class="col-sm-4 col-md-2">
								<select class="form-control" name="woman_mom_status" id="woman_mom_status" value="{{ data['invitation']['personal_data']['woman_mom_status'] }}">
									{% if data['invitation']['personal_data']['woman_mom_status'] == "0" %}
									<option selected="0">Masih hidup</option>
									<option value="Almh">Meninggal</option>
									{% else %}
									<option value="0">Masih hidup</option>
									<option selected="Almh">Meninggal</option>
									{% endif %}
								</select>
							</div>
							<div class="col-sm-8 col-md-8">
								<input class="form-control" type="text" placeholder="Tulis disini" name="womans_mom" id="womans_mom" value="{{ data['invitation']['personal_data']['womans_mom'] }}">
							</div>
						</div>
					</div>
					<!-- Data diri mempelai pria -->
					<div class="pd-20 card-box mb-30">
						<div class="clearfix">
							<div class="pull-left">
								<h4 class="text-blue h4">Data Pribadi Mempelai Pria</h4>
							</div>
						</div>
                        <div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Nama Lengkap Pria</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" placeholder="Tulis disini" name="man_fullname" id="man_fullname" value="{{ data['invitation']['personal_data']['man_fullname'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Nama Panggilan Pria*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" placeholder="Tulis disini" name="man_name" id="man_name" value="{{ data['invitation']['personal_data']['man_name'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Foto</label>
							<div class="col-sm-12 col-md-10">
								<input type="file" class="form-control-file form-control height-auto" accept=".jpg,.jpeg,.png" name="mans_photo" id="mans_photo">
								<input type="hidden" class="form-control-file form-control height-auto" accept=".jpg,.jpeg,.png" name="mans_photo_old" id="mans_photo_old" value="{{ data['invitation']['personal_data']['mp_filename'] }}">
								<small class="form-text text-muted">
									{{ data['invitation']['personal_data']['mp_filename'] }}
								</small>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Alamat*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" name="man_address" id="man_address" value="{{ data['invitation']['personal_data']['man_address'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Putra ke*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="number" name="son_no" id="son_no" value="{{ data['invitation']['personal_data']['son_no'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Nama Ayah*</label>
							<div class="col-sm-4 col-md-2">
								<select class="form-control" name="man_dad_status" id="man_dad_status" value="{{ data['invitation']['personal_data']['man_dad_status'] }}">
									{% if data['invitation']['personal_data']['man_dad_status'] == "0" %}
									<option selected="0">Masih hidup</option>
									<option value="Alm">Meninggal</option>
									{% else %}
									<option value="0">Masih hidup</option>
									<option selected="Alm">Meninggal</option>
									{% endif %}
								</select>
							</div>
							<div class="col-sm-8 col-md-8">
								<input class="form-control" type="text" placeholder="Tulis disini" name="mans_dad" id="mans_dad" value="{{ data['invitation']['personal_data']['mans_dad'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Nama Ibu*</label>
							<div class="col-sm-4 col-md-2">
								<select class="form-control" name="man_mom_status" id="man_mom_status" value="{{ data['invitation']['personal_data']['man_mom_status'] }}">
									{% if data['invitation']['personal_data']['woman_dad_status'] == "0" %}
									<option selected="0">Masih hidup</option>
									<option value="Almh">Meninggal</option>
									{% else %}
									<option value="0">Masih hidup</option>
									<option selected="Almh">Meninggal</option>
									{% endif %}
								</select>
							</div>
							<div class="col-sm-8 col-md-8">
								<input class="form-control" type="text" placeholder="Tulis disini" name="mans_mom" id="mans_mom" value="{{ data['invitation']['personal_data']['mans_mom'] }}">
							</div>
						</div>
					</div>
					<!-- Data informasi lainnya -->
					<div class="pd-20 card-box mb-30">
						<div class="clearfix">
							<div class="pull-left">
								<h4 class="text-blue h4">Informasi Acara</h4>
							</div>
						</div>
                        <div class="row">
							<div class="col-md-5 col-sm-12">
								<div class="form-group">
									<!-- <label class="col-sm-12 col-md-2 col-form-label">Akad*</label> -->
									<label>Akad*</label>
									<input class="form-control date-picker" placeholder="Pilih tanggal" type="text" name="marriage_date" id="marriage_date" value="{{ data['invitation']['detail_info']['marriage_date'] }}">
								</div>
							</div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group">
									<label>Mulai*</label>
									<input class="form-control time-picker" placeholder="Pilih waktu" type="text" name="marriage_start" id="marriage_start" value="{{ data['invitation']['detail_info']['marriage_start']['etime'] }}">
								</div>
							</div>
							<div class="form-group"><p class="text-center col-form-label" style="margin-top: 2rem;">-</p></div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group">
									<label>Selesai*</label>
									<input class="form-control time-picker" placeholder="Selesai" type="text" name="marriage_end" id="marriage_end" value="{{ data['invitation']['detail_info']['marriage_end']['etime'] }}">
								</div>
							</div>
						</div>
                        <div class="row">
							<div class="col-md-5 col-sm-12">
								<div class="form-group">
									<!-- <label class="col-sm-12 col-md-2 col-form-label">Akad*</label> -->
									<label>Resepsi*</label>
									<input class="form-control date-picker" placeholder="Pilih tanggal" type="text" name="reception_date" id="reception_date" value="{{ data['invitation']['detail_info']['reception_date'] }}">
								</div>
							</div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group">
									<label>Mulai*</label>
									<input class="form-control time-picker" placeholder="Pilih waktu" type="text" name="reception_start" id="reception_start" value="{{ data['invitation']['detail_info']['reception_start']['etime'] }}">
								</div>
							</div>
							<div class="form-group"><p class="text-center col-form-label" style="margin-top: 2rem;">-</p></div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group">
									<label>Selesai*</label>
									<input class="form-control time-picker" placeholder="selesai" type="text" name="reception_end" id="reception_end" value="{{ data['invitation']['detail_info']['reception_end']['etime'] }}">
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Lokasi*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" placeholder="Tulis disini" name="location" id="location" value="{{ data['invitation']['detail_info']['location'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Maps*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" placeholder="Copy-paste link maps" name="maps" id="maps" value="{{ data['invitation']['detail_info']['maps'] }}">
							</div>
						</div>
						<!-- <div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Maps*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" placeholder="Tulis disini" name="maps" id="maps">
							</div>
						</div> -->
					</div>


					{% elif data['invitation']['category'].upper() == "ULANG TAHUN" %}
					<!-- Data diri -->
					<div class="pd-20 card-box mb-30">
						<div class="clearfix">
							<div class="pull-left">
								<h4 class="text-blue h4">Data Diri</h4>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Nama Lengkap*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" placeholder="Tulis disini" name="fullname" id="fullname" value="{{ data['invitation']['personal_data']['fullname'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Nama Panggilan*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" placeholder="Tulis disini" name="callname" id="callname" value="{{ data['invitation']['personal_data']['callname'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Foto*</label>
							<div class="col-sm-12 col-md-10">
								<input type="file" class="form-control-file form-control height-auto" accept=".jpg,.jpeg,.png" name="myphoto" id="myphoto">
								<input type="hidden" class="form-control-file form-control height-auto" accept=".jpg,.jpeg,.png" name="myphoto_old" id="myphoto_old" value="{{ data['invitation']['personal_data']['pFName'] }}">
								<small class="form-text text-muted">
									{{ data['invitation']['personal_data']['pFName'] }}
								</small>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Ulang tahun ke*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" min="1" max="100" type="number" name="birthday" id="birthday" value="{{ data['invitation']['personal_data']['birthday'] }}">
							</div>
						</div>
					</div>

					<!-- Data informasi Acara -->
					<div class="pd-20 card-box mb-30" id="dynamic-form">
						<div class="clearfix">
							<div class="pull-left">
								<h4 class="text-blue h4">Informasi Acara</h4>
							</div>
						</div>
                        <div class="row">
							<div class="col-md-5 col-sm-12">
								<div class="form-group">
									<!-- <label class="col-sm-12 col-md-2 col-form-label">Akad*</label> -->
									<label>Tanggal*</label>
									<input class="form-control date-picker" placeholder="Pilih tanggal" type="text" name="bd_date" id="bd_date" value="{{ data['invitation']['detail_info']['date'] }}">
								</div>
							</div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group">
									<label>Mulai*</label>
									<input class="form-control time-picker" placeholder="Pilih waktu" type="text" name="bd_start" id="bd_start" value="{{ data['invitation']['detail_info']['start']['etime'] }}">
								</div>
							</div>
							<div class="form-group"><p class="text-center col-form-label" style="margin-top: 2rem;">-</p></div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group">
									<label>Selesai*</label>
									<input class="form-control time-picker" placeholder="Selesai" type="text" name="bd_end" id="bd_end" value="{{ data['invitation']['detail_info']['end']['etime'] }}">
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Dresscode*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" placeholder="Tulis disini" name="dresscode" id="dresscode" value="{{ data['invitation']['detail_info']['dresscode'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Lokasi*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" placeholder="Tulis disini" name="location" id="location" value="{{ data['invitation']['detail_info']['location'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Maps*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" placeholder="Copy-paste link maps" name="maps" id="maps" value="{{ data['invitation']['detail_info']['maps'] }}">
							</div>
						</div>
					</div>


					{% elif data['invitation']['category'].upper() == "GRADUATION PARTY" %}
					<!-- Data diri -->
					<div class="pd-20 card-box mb-30">
						<div class="clearfix">
							<div class="pull-left">
								<h4 class="text-blue h4">Data Diri</h4>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Nama Lengkap*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" placeholder="Tulis disini" name="fullname" id="fullname" value="{{ data['invitation']['personal_data']['fullname'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Nama Sekolah *</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" placeholder="Tulis disini" name="school" id="school" value="{{ data['invitation']['personal_data']['school'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Tahun Lulus*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" min="1999" type="number" name="graduate" id="graduate" value="{{ data['invitation']['personal_data']['graduate'] }}">
							</div>
						</div>
					</div>

					<!-- Data informasi Acara -->
					<div class="pd-20 card-box mb-30" id="dynamic-form">
						<div class="clearfix">
							<div class="pull-left">
								<h4 class="text-blue h4">Informasi Acara</h4>
							</div>
						</div>
                        <div class="row">
							<div class="col-md-5 col-sm-12">
								<div class="form-group">
									<!-- <label class="col-sm-12 col-md-2 col-form-label">Akad*</label> -->
									<label>Tanggal*</label>
									<input class="form-control date-picker" placeholder="Pilih tanggal" type="text" name="gd_date" id="gd_date" value="{{ data['invitation']['detail_info']['date'] }}">
								</div>
							</div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group">
									<label>Mulai*</label>
									<input class="form-control time-picker" placeholder="Pilih waktu" type="text" name="gd_start" id="gd_start" value="{{ data['invitation']['detail_info']['start']['etime'] }}">
								</div>
							</div>
							<div class="form-group"><p class="text-center col-form-label" style="margin-top: 2rem;">-</p></div>
							<div class="col-md-3 col-sm-12">
								<div class="form-group">
									<label>Selesai*</label>
									<input class="form-control time-picker" placeholder="Selesai" type="text" name="gd_end" id="gd_end" value="{{ data['invitation']['detail_info']['end']['etime'] }}">
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Dresscode*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" placeholder="Tulis disini" name="dresscode" id="dresscode" value="{{ data['invitation']['detail_info']['dresscode'] }}">
								<small class="form-text text-muted">
									*Pakaian yang wajib dikenakan saat menghadiri acara.
								</small>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Lokasi*</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" placeholder="Tulis disini" name="location" id="location" value="{{ data['invitation']['detail_info']['location'] }}">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Maps*</label>
							<div class="col-sm-12 col-md-8">
								<input class="form-control" type="text" placeholder="Copy-paste link maps" name="maps" id="maps" value="{{ data['invitation']['detail_info']['maps'] }}">
							</div>
							<div class="col-sm-12 col-md-2">
								<a href="https://maps.app.goo.gl/" class="btn btn-light" target="_blank">Maps</a>
								<!-- <input class="form-control" type="text" placeholder="Copy-paste link maps" name="maps" id="maps"> -->
							</div>
						</div>
					</div>


					{% else %}
					<div class="pd-20 card-box mb-30">
						<div class="form-group row">
							<label for="example-datetime-local-input" class="col-sm-12 col-md-2 col-form-label">Dumps</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control datetimepicker" placeholder="Choose Date anf time" type="text" disabled>
							</div>
						</div>
                	</div>
					{% endif %}

					<div class="pd-20 card-box mb-30 text-right">
						<a href="{{ url_for('management.invitation.index') }}" type="button" class="btn btn-outline-danger mr-1" >Kembali</a>
						<button type="submit" id="invitationAddBtn" class="btn btn-outline-primary">Simpan</button>
                	</div>
				</form>
                <!-- Default Basic Forms End -->
				<!-- ============================================================== -->
			</div>
			<!-- End Content -->
			<!-- ============================================================== -->
            
			<!-- ============================================================== -->
			<!-- Footer -->
			<!-- ============================================================== -->
			{% include 'components/dash_footer.html' %}
			<!-- End Footer -->
			<!-- ============================================================== -->
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- END MAIN CONTENT -->
	<!-- ============================================================== -->

{% endblock %}
<!-- ============================================================== -->
<!-- END PAGE CONTENT -->
<!-- ============================================================== -->