{% extends 'layouts/dash_layout.html' %} {% block content %}

	<div class="header" style="width: 100%;">
		<div class="header-left">
			<div class="menu-icon dw dw-menu"></div>
			<div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
			<div class="header-search">
				<a class="btn btn-outline-third" href="{{ url_for('dashboard.index') }}" style="border-radius: 10px;">
					<i class="icon-copy ion-arrow-left-b"></i>
					<span class="mtext p-3">Cancel</span>
				</a>
			</div>
		</div>
		<div class="header-right">
			<div class="user-info-dropdown">
				<div class="dropdown">
					<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						<span class="user-icon">
							<img src="vendors/images/photo1.jpg" alt="">
						</span>
						<span class="user-name">{{session['user']['name']}}</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
						<a class="dropdown-item" href="profile.html"><i class="dw dw-user1"></i> Profile</a>
						<!-- <a class="dropdown-item" href="profile.html"><i class="dw dw-settings2"></i> Setting</a> -->
						<a class="dropdown-item" href="profile.html"><i class="dw dw-help"></i> History</a>
						<a class="dropdown-item" href="login.html"><i class="dw dw-logout"></i> Log Out</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main-container" style="width: 100%; padding: 80px 20px 0 30px;">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<!-- <div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Form Wizards</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Form Wizards</li>
								</ol>
							</nav>
						</div>
						<div class="col-md-6 col-sm-12 text-right">
							<div class="dropdown">
								<a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
									January 2018
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Export List</a>
									<a class="dropdown-item" href="#">Policies</a>
									<a class="dropdown-item" href="#">View Assets</a>
								</div>
							</div>
						</div>
					</div>
				</div> -->

				<div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<h4 class="text-blue h4">Create Invitation</h4>
						<!-- <p class="mb-30">jQuery Step wizard</p> -->
					</div>
					<div class="wizard-content">
						<form class="tab-wizard wizard-circle wizard">
							<h5>Kategori & Template</h5>
							<section>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label >Judul Proyek :</label>
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label >Kategori :</label>
											<select class="form-control">
												<option value="">Pilih Kategori</option>
												<option value="Pernikahan">Pernikahan</option>
												<option value="Ulang Tahun">Ulang Tahun</option>
												<option value="Kelulusan">Kelulusan</option>
												<option value="Khitan">Khitan</option>
												<option value="Syukuran">Syukuran</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Template :</label>
											<ul>
                                                <li>
													<a href="#" class="btn btn-primary">Pilih</a>
                                                </li>
                                            </ul>
										</div>
									</div>
								</div>
							</section>
							<!-- Step 2 -->
							<h5>Custom Template</h5>
							<section>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>Template :</label>
											<textarea class="form-control"></textarea>
										</div>
									</div>
                                    <div class="col-md-6">
										<div class="form-group">
											<a href="#" class="btn btn-primary">Custom</a>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Backsound :</label>
											<select class="form-control">
												<option value="">Pilih Musik</option>
												<option value="track1">Track 01</option>
												<option value="track2">Track 02</option>
												<option value="track3">Track 03</option>
												<option value="track4">Track 04</option>
												<option value="track5">Track 05</option>
												<option value="file" class="custom-file-input">More..</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Background :</label>
											<div class="custom-file">
												<input type="file" class="custom-file-input">
												<label class="custom-file-label">Choose file</label>
											</div>
										</div>
									</div>
								</div>
							</section>
							<!-- Step 3 -->
							<h5>Data Undangan</h5>
							<section>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Nama 1 :</label>
											<input type="text" class="form-control">
										</div>
										<div class="form-group">
											<label>Tanggal Mulai :</label>
											<input class="form-control date-picker" placeholder="Select Date" type="text">
										</div>
										<div class="form-group">
											<label>Jam :</label>
											<input class="form-control time-picker-default" placeholder="time" type="text">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Nama 2 (Optional) :</label>
											<input type="text" class="form-control">
										</div>
										<div class="form-group">
											<label>Tanggal Berakhir :</label>
											<input class="form-control date-picker" placeholder="Select Date" type="text">
										</div>
									</div>
								</div>
							</section>
							<!-- Step 4 -->
							<!-- <h5>Data Tamu</h5>
							<section>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Behaviour :</label>
											<input type="text" class="form-control">
										</div>
										<div class="form-group">
											<label>Confidance</label>
											<input type="text" class="form-control">
										</div>
										<div class="form-group">
											<label>Result</label>
											<select class="form-control">
												<option>Select Result</option>
												<option>Selected</option>
												<option>Rejected</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Comments</label>
											<textarea class="form-control"></textarea>
										</div>
									</div>
								</div>
							</section> -->
						</form>
					</div>
				</div>

				<!-- success Popup html Start -->
				<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-body text-center font-18">
								<h3 class="mb-20">Undangan Berhasil DIbuat!</h3>
								<div class="mb-30 text-center"><img src="vendors/images/success.png"></div>
							</div>
							<div class="modal-footer justify-content-center">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
							</div>
						</div>
					</div>
				</div>
				<!-- success Popup html End -->
			</div>
			
			<!-- ============================================================== -->
			<!-- Footer -->
			<!-- ============================================================== -->
			{% include 'components/dash_footer.html' %}
		</div>
	</div>
{% endblock %}