
<div class="left-side-bar" >
    <div class="brand-logo">
        <a href="index.html">
            <!-- <img src="vendors/images/ic-logo-purp.png" alt="" class="dark-logo"> -->
            <img src="{{ url_for('static', filename='assets/images/ic_logo_purp.png') }}" alt="" class="light-logo" style="display: block; margin-left: auto; margin-right: auto;">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li>
                    <a href="{{ url_for('dashboard.index') }}" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-house-1"></span><span class="mtext">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('invitation.index') }}" class="dropdown-toggle no-arrow">
                        <span class="micon ion-ios-compose-outline"></span><span class="mtext">My Invitation</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('templates.index') }}" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-paperclip"></span><span class="mtext">Templates</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('guest.index') }}" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-notebook"></span><span class="mtext">Guest</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('faq.index') }}" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-information"></span><span class="mtext">Help</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="{{ url_for('static', filename='') }}#" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-house-1"></span><span class="mtext">Service</span>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</div>
<div class="mobile-menu-overlay"></div>
