<div class="header">
    <div class="header-left">
        <div class="menu-icon dw dw-menu"></div>
        <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
        <div class="header-search">
            <a class="btn btn-outline-third" href="{{ url_for('invitation.create') }}" style="border-radius: 10px;">
                <i class="icon-copy fa fa-plus" aria-hidden="true"></i>
                <span class="mtext p-3">Create</span>
            </a>
        </div>
    </div>
    <div class="header-right">
        <div class="user-info-dropdown">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <span class="user-icon">
                        <img src="{{ url_for('static', filename='assets/images/photo1.jpg') }}" alt="">
                    </span>
                    <span class="user-name">{{session['user']['name']}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                    <a class="dropdown-item" href="{{ url_for('static', filename='') }}"><i class="dw dw-user1"></i> Profile</a>
                    <!-- <a class="dropdown-item" href="profile.html"><i class="dw dw-settings2"></i> Setting</a> -->
                    <a class="dropdown-item" href="{{ url_for('static', filename='') }}"><i class="icon-copy fa fa-history" aria-hidden="true"></i> History</a>
                    <a class="dropdown-item" href="{{ url_for('signout') }}"><i class="dw dw-logout"></i> Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>