<!-- ============================================================== -->
<!-- PAGE CONTENT - GUEST - USER -->
<!-- ============================================================== -->
{% extends 'layouts/layout.html' %} {% block content %}
    <div class="container-xxl bg-white p-0">
        <!-- ============================================================== -->
        <!-- Spinner Start -->
        {% include 'components/preloader.html' %}
        <!-- Spinner End -->
        <!-- ============================================================== -->
        
        <!-- ============================================================== -->
        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0" id="top">
            <!-- ============================================================== -->
            <!-- Navbar Start -->
            {% include 'components/navbar.html' %}
            <!-- Navbar End -->
            <!-- ============================================================== -->
            
            <!-- ============================================================== -->
            <!-- Hero Start -->
            <div class="container-xxl py-5 bg-primary hero-header mb-5">
                <div class="container my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">
                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="text-white mb-4 animated zoomIn">
                                Buat dan sebarkan undangan anda dengan mudah
                            </h1>
                            <p class="text-white pb-3 animated zoomIn">
                                Aplikasi undangan digital berbasis website dengan berbagai kategori 
                                dan template menarik. Gratis dan tanpa batas. <br>Buat undangan anda sekarang juga.
                            </p>
                            <a href="{{ url_for('auth.sign_up') }}" class="btn btn-light py-sm-3 px-sm-5 rounded-pill animated slideInLeft">Mulai</a>
                        </div>
                        <div class="col-lg-6 text-center text-lg-start">
                            <img class="img-fluid" src="{{ url_for('static', filename='assets/images/Invite-pana.svg') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hero End -->
            <!-- ============================================================== -->
        </div>
        <!-- Navbar & Hero End -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- About Start -->
        <div class="container-xxl py-5" id="about">
            <div class="container px-lg-5">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">  
                        <div class="section-title position-relative mb-4 pb-2">
                            <h6 class="position-relative text-primary ps-4">Tentang Kami</h6>
                            <h2 class="mt-2">Solusi terbaik pembuatan undangan digital</h2>
                        </div>
                        <p class="mb-4">
                            Sebuah website penyedia template undangan digital yang dapat memudahkan dalam pembuatan 
                            dan pendistribusian surat undangan. Dengan berbagai kategori dan template yang menarik. 
                            Anda dapat sepuasnya membuat berbagai macam undangan 
                            gratis tanpa batas, menghemat waktu, biaya dan tenaga anda.
                        </p>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Kategori Acara</h6>
                                <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Template Menarik</h6>
                            </div>
                            <div class="col-sm-6">
                                <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Request Template</h6>
                                <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Manajemen Tamu</h6>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mt-4">
                            <a class="btn btn-primary rounded-pill px-4 me-3" href="">Read More</a>
                            <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="{{ url_for('static', filename='assets/images/Invite-cuate.svg') }}">
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Back to Top Start -->
        <a href="#top" class="btn btn-lg btn-primary btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up"></i></a>
        <!-- Back to Top End -->
        <!-- ============================================================== -->
    </div>
{% endblock %}
<!-- ============================================================== -->
<!-- END PAGE CONTENT -->
<!-- ============================================================== -->