<!-- ============================================================== -->
<!-- PAGE CONTENT - CATEGORY MANAGEMENT - ADMIN -->
<!-- ============================================================== -->
{% extends 'layouts/dash_layout.html' %} {% block content %}

	<!-- ============================================================== -->
	<!-- PRELOADER - ALL PAGE - ALL -->
	<!-- ============================================================== -->
    {% include 'components/preloader.html' %}
	<!-- ============================================================== -->
	<!-- END PRELOADER -->
	<!-- ============================================================== -->
	

	<!-- ============================================================== -->
	<!-- HEADER - ALL PAGE - ALL -->
	<!-- ============================================================== -->
	{% include 'components/dash_header.html' %}
	<!-- ============================================================== -->
	<!-- END HEADER -->
	<!-- ============================================================== -->
	

	<!-- ============================================================== -->
	<!-- NAVIGATION SIDEBAR - ALL PAGE - ALL -->
	<!-- ============================================================== -->
	{% include 'components/dash_sidebar.html' %}
	<!-- ============================================================== -->
	<!-- END NAVIGATION SIDEBAR -->
	<!-- ============================================================== -->
	

	<!-- ============================================================== -->
	<!-- MAIN CONTENT - CATEGORY MANAGEMENT - ADMIN -->
	<!-- ============================================================== -->
	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
            <!-- ============================================================== -->
			<!-- Content Section -->
			<div class="min-height-200px">
				<!-- ============================================================== -->
				<!-- Header Content Section -->
				<div class="page-header">
					<div class="row">
						<!-- ============================================================== -->
						<!-- Title & Breadcrumb Section -->
						<div class="col-md-6 col-sm-12">
							<!-- ============================================================== -->
							<!-- Title Section -->
							<div class="title">
								<h4>Category Management</h4>
							</div>
							<!-- End Title -->
							<!-- ============================================================== -->

							<!-- ============================================================== -->
							<!-- Breadcrumb Section -->
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{{ url_for('dashboard.index') }}">Home</a></li>
									<li class="breadcrumb-item"><a href="{{ url_for('management.category.index') }}">Category Management</a></li>
									<li class="breadcrumb-item active" aria-current="page">Add</li>
								</ol>
							</nav>
							<!-- End Breadcrumb -->
							<!-- ============================================================== -->
						</div>
						<!-- End Title & Breadcrumb -->
						<!-- ============================================================== -->
					</div>
				</div>
				<!-- End Header Content -->
				<!-- ============================================================== -->
				
				<!-- ============================================================== -->
				<!-- Alert Section -->
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% include "components/alert.html" %}
				{% endwith %}
				<!-- End Alert -->
				<!-- ============================================================== -->
				
				<!-- ============================================================== -->
				<!-- Simple Datatable Section -->
                <div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4 mb-30">Create Category Forms</h4>
						</div>
					</div>
					<form action="{{ url_for('management.category.add_proccess') }}" method="POST">
						<div class="modal-body" id="dynamic-form">
							<div class="form-group row">
								<label class="col-sm-12 col-md-2 col-form-label">Category</label>
								<div class="col-sm-12 col-md-10">
									<input class="form-control" type="text" id="categoryNameInput" name="category" placeholder="Type a category">
								</div>
							</div>
							<!-- <div class="form-group row" id="form-group-1">
								<label class="col-sm-12 col-md-2 col-form-label" for="input-fd-1">Format Data</label>
								<div class="col-sm-12 col-md-4">
									<input class="form-control" placeholder="Type Here" type="text" name="format-data-1" id="input-fd-1">
								</div>
								<div class="col-sm-12 col-md-3">
									<label class="col-sm-6 col-form-label" for="cb-fd-1" id="label-cb-fd">Required</label>
									<input type="checkbox" checked class="form-control switch-btn" data-size="small" data-color="#7A26C1" name="mandatory-1" id="cb-fd-1">
								</div>
								<div class="col-md-3 col-sm-12">
									<button type="button" class="btn btn-outline-danger" onclick="removeFormField(1)">Delete</button>
									<button type="button" class="btn btn-outline-success" id="rm-format-data" onclick="addFormField()">Add</button>
								</div>
							</div> -->
						</div>
						<div class="modal-footer">
							<a href="{{ url_for('management.category.index') }}" type="button" class="btn btn-outline-danger" >Close</a>
							<button type="submit" class="btn btn-outline-primary">Save</button>
						</div>
					</form>
				</div>
				<!-- End Simple Datatable -->
				<!-- ============================================================== -->
			</div>
			<!-- End Content -->
			<!-- ============================================================== -->

			<!-- ============================================================== -->
			<!-- Footer Section -->
			{% include 'components/dash_footer.html' %}
			<!-- End Footer -->
			<!-- ============================================================== -->
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- END MAIN CONTENT -->
	<!-- ============================================================== -->

    
    <!-- ============================================================== -->
	<!-- JAVASCRIPT -->
	<!-- ============================================================== -->
	<script src="{{ url_for('static', filename='src/plugins/switchery/switchery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendors/scripts/advanced-components.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Management/Category/addCategory.js') }}"></script>
    <!-- ============================================================== -->
	<!-- END JAVASCRIPT -->
	<!-- ============================================================== -->

{% endblock %}
<!-- ============================================================== -->
<!-- END PAGE CONTENT -->
<!-- ============================================================== -->
